<h1>This is markdown description</h1>
<p>This is second line markdown</p>
<h1>This is markdown description</h1>
<p>This is second line markdown
And a third line.</p>
<p>And a fourth</p>
<p><code>If python can not render an markdown as HTML then they should consider rust</code></p>
<pre><code class="language-rust">fn main() {
  println!(&quot;Hello rust&quot;);
}
</code></pre>
